<!DOCTYPE html>
<html>
<head>
    <title>Register | Virtual Fit</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet" />
    <link rel="stylesheet" href="/css/material-raised-button.css"/>
	<link rel="stylesheet" href="/css/material-flat-input.css"/>
	<link rel="stylesheet" href="/css/site-template.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/register.css"/>
    <!-- Uncomment navbar if you want navbar
    -->
</head>
<body>
    <!-- Uncomment navbar if you want navbar
    -->
    <div class="container-fluid">
        <a onclick="#" style="text-decoration: none; color:black;">
            <h1 class="title">Virtual Fit</h1>
        </a>
        <div class="tagline">Life's better when your clothes fit</div>
        <h2 class="register-title" id="registerTitle">Client Register</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="text-center">
                        <form class="formClass" method="post" action="/client/register" autocomplete="off">
                            <div class="form-group"><input class="username-input material-flat-input" id="usernameIn" type="text" placeholder="Username" name="username" required="required" /></div>
                            <div class="form-group"><input class="email-input material-flat-input" id="emailIn" type="email" placeholder="Email" name="email" required="required" /></div>
                            <div class="form-group"><input class="username-input material-flat-input" id="locationIn" type="text" pattern="[1-9]{1}[0-9]{9}" placeholder="Mobile Number" name="mobile_number" required="required" /></div>
                            <div class="form-group"><input class="pass-input material-flat-input" id="passIn" type="password" placeholder="Password" name="password" required="required" /></div>
                            <div class="form-group"><input class="submit-input form-control btn material-raised-button" id="submitIn" type="submit" value="Register" name="register" /></div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="container" style="margin-top: 5vh;">
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-8 under-text">Already have an account?</div>
                        <div class="col-md-4"> <a href="/client/login"><button class="btn material-raised-button">Login</button></a></div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</body>
</html>
