.user-details-header {
    font-size: 1.1em;
    font-weight: bold;
}

.next-btn {
    margin: 20px auto !important;
    font-size: 1.2rem;
}

.next-btn-link {
    margin: 20px auto !important;
    font-size: 1.8rem;
}