<% layout('../partials/layout') -%>
<% stylesheet('/assets/css/amazon.css') -%>

<div class="row" id="amazon" >
        <div id='navBar'>
                <div id='topHalf'>
                  <div id='logoWrapper'>
                  <img id='logo' src="http://www.userlogos.org/files/logos/ArkAngel06/Amazon.png" />
                  </div>
                  <input type="text" placeholder="Find everything you need here" />
                  <img id='backToSchool' src="http://blog.neurogistics.com/wp-content/uploads/2014/08/Back-To-School-Special-Banner.jpg" alt="" />
                  
                </div>
                  
                  
                  
                  
                <div id='bottomHalf'>
                  <div id='department'>Departments</div>
                  <div id='sections'>
                    <div class="section">Your Amazon.com</div>
                    <div class="section">Today's Deals</div>
                    <div class="section">Gift Cards & Registry</div>
                    <div class="section">Sell</div>
                    <div class="section">Help</div>
                  </div>
                  <div id='accountStuff'>
                    <div class="section">Your Account</div>
                    <div class="section">Try Prime</div>
                    <div class="section">Lists</div>
                    <div class="section">Cart</div>
                  </div>
                </div>
        </div>

        <div id="products">
            <div class="row">

            <div class="col-lg-6">
                <a href="/customer/amazon/customize/0">
                    <div class="card">
                            <img class="card-img-top productimg" src="/assets/images/amazon/Shirt1.png" alt="">
                            <div class="card-body text-center text-center">
                            <p class="card-text">Berry Pink Twill</p>
                            </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6">
                <a href="/customer/amazon/customize/1">
                    <div class="card">
                            <img class="card-img-top productimg" src="/assets/images/amazon/Shirt2.png" alt="">
                            <div class="card-body text-center">
                            <p class="card-text">Cocoa Checks</p>
                            </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-6">
                <a href="/customer/amazon/customize/2">
                    <div class="card">
                            <img class="card-img-top productimg" src="/assets/images/amazon/Shirt3.png" alt="">
                            <div class="card-body text-center">
                            <p class="card-text">Royal Blue Polka Dot</p>
                            </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6">
                <a href="/customer/amazon/customize/3">
                    <div class="card">
                            <img class="card-img-top productimg" src="/assets/images/amazon/Shirt4.png" alt="">
                            <div class="card-body text-center">
                            <p class="card-text">Sunset Stripes</p>
                            </div>
                    </div>
                </a>
            </div>
        </div>
        </div>
        </div>
</div>
